.game-catalog {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
  }
  
  .game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  